# Bu dosyayi kopyalayip ".env" adiyla kaydet.
#
# Expo yalnizca "EXPO_PUBLIC_" onekli degiskenleri istemci koduna
# gomer. Deger derleme sirasinda gomulur; degistirirsen gelistirme
# sunucusunu yeniden baslat.
#
# MOBILDE "localhost" TELEFONUN KENDISIDIR, gelistirme makinen degil.
# Adres calistirdigin yere gore degisir:
#
#   iOS simulatoru / web  -> http://127.0.0.1:8000
#   Android emulatoru     -> http://10.0.2.2:8000
#   Gercek telefon        -> http://<makinenin-yerel-IP'si>:8000
#                            (orn. http://192.168.1.20:8000)
#
# Bos birakirsan platforma gore ilk iki satirdaki varsayilan kullanilir.
# Gercek telefonda kendi IP'ni yazman ZORUNLU.
# EXPO_PUBLIC_API_URL=http://127.0.0.1:8000
